.feed_back__btn {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    }
    
    .feed_back__btn:not(:last-child) {
    margin-right: 20px;
    }
    
    .feed_back__btn:active {
    background: linear-gradient(#4594fd, #0767e5);
    }
    